<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<%- include ('./partials/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
  </head>
<%- include ('./partials/nav.ejs') %>
  <body>
    <%let total = 0%>

    <h1>Your Cart</h1>
    <% for (let i = 0; i < merchandise.length; i++) {%>
          <div class="">
            <a href="/schedule/<%=merchandise[i].name%>">
              <%=merchandise[i].name%>
            </a><br/>
            <p>Price: $<%=merchandise[i].price%></p></br>
            <img src="<%=merchandise[i].image%>" alt=""><br/>
          </div>
          <form action='/cart/<%=merchandise[i].id%>?_method=DELETE' method='POST'>
            <input type="submit" value="Remove from cart" />
          </form>


          <%total += merchandise[i].price%>
      <%}%>

      <h4>
        <%if(total <= 0){%>
          <h4>No items in cart</h4>
      <%} else {%>
        <h4>Your total is $<%=total%></h4>
        <%}%>
      </h4>
  </body>
</html>
