<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit Class</h1>

      <form action="/schedule/<%=course.id%>?_method=PUT" method="POST">

        Activity: <input type="text" name="className" value="<%=course.className%>"/><br/>

        Day of The Week: <input type="text" name="date" value="<%=course.date%>"/><br/>

        Instructor: <input type="text" name="instructor" value="<%=course.instructor%>"/><br/>

        Capacity: <input type="text" name="capacity" value="<%=course.capacity%>"/><br/>

        <input type="submit" value="Submit Change"/><br>
      </form>

      <a href="/schedule">Back to Homepage</a>


  </body>
</html>
