<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Edit Class</h1>

      <form action="/schedule/<%=course.id%>?_method=PUT" method="POST">

        Activity: <input type="text" name="className" value="<%=course.className%>"/><br/>

        Day of The Week: <select name="date" value='<%=course.date%>'>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select><br/>

        Instructor: <input type="text" name="instructor" value="<%=course.instructor%>"/><br/>

        Capacity: <input type="text" name="capacity" value="<%=course.capacity%>"/><br/>

        <input type="submit" value="Submit Change"/><br>
      </form>

      <a href="/schedule">Back to Homepage</a>


  </body>
</html>
