<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
<%- include ('./partials/head.ejs') %>
  </head>
  <body>
    <%- include ('./partials/nav.ejs') %>
    <h1>Class Details</h1>
    <p>Class Name: <%=classes.className%></p>
    <p>Day of the Week<%=classes.date%></p>
    <p>Instructor: <%=classes.instructor%></p>
    <p>Spots Remaining: <%=classes.capacity%></p>
  </body>
</html>
